<!-- views/partials/header.ejs -->
<header id="header" class="fixed-top d-flex align-items-center ">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <h1><a href="index.html"><span>Moodchime</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/#about">About</a></li>
        <li><a class="nav-link scrollto" href="/#faq">FAQ</a></li>
        <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
        <li><a class="nav-link scrollto loginLink" href="/login">Login</a></li>
        <li><a class="nav-link scrollto loginLink" href="/signup">Signup</a></li>
        <% if( typeof(user) !== "undefined") { %>

          <% if (user.local.name) { %>
              <li class="userName"> <%= user.local.name.first %></li>
          <% } %>

        <% } %>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header>
